.classwrap {
   width: 100%;
   height: calc(100vh - 4rem);
   overflow-y: scroll;
   margin-top: 4rem;
   background-color: hsl(145, 63%, 95%);
}

.classwrap::-webkit-scrollbar {
   width: 5px;
   height: 5px;
}
.classwrap::-webkit-scrollbar-track {
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 10px;
}
.classwrap::-webkit-scrollbar-thumb {
   background-color: #11171a;
   border-radius: 10px;
}

/* .classwrap::-webkit-scrollbar {
   width: 10px;
   height: 10px;
}
.classwrap::-webkit-scrollbar-track {
   background-color: transparent;
   border-radius: 10px;
}
.classwrap::-webkit-scrollbar-thumb {
   background: var(--clr-accent-300);
   border-radius: 10px;
} */

.student {
   background-image: var(--clr-accent-300);
   color: #fff;
   padding: 2em 0;
}
.student__icon {
   display: flex;
   place-items: center;
   place-content: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background-color: rgba(77, 77, 77, 0.5);
}

.student__fullname h1,
.student__nums h3 {
   margin: 0;
}

.flex-align2 {
   display: flex;
   align-items: center;
   gap: 10px;
}

.headericon {
   font-size: 1.2rem;
}

main {
   padding: 2em 0;
}

.classesgrid {
   display: grid;
   gap: 20px;
   padding: 2em 0;
}

.classesinfo {
   display: grid;
   grid-template-columns: 1fr 1fr 2fr;
   margin-top: 2em;
}

.classesgrid .classecard {
   padding: 1.7em;
   box-shadow: 5px 10px 20px hsl(145, 23%, 84%);
   background-color: #fff;
   border-radius: 0.5em;
   transition: all 0.5s;
   cursor: pointer;
}
.classecard .flex-align {
   margin-bottom: 1em;
   gap: 10px;
}

.classecard h2 {
   color: #11998e;
   font-size: 1.1rem;
}

.classecard img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
}

.classesgrid .classecard:hover {
   transform: scale(1.1);
}

@media screen and (min-width: 768px) {
   .classesgrid {
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
   }
}
