/* 

.all {
   background-color: #ebf3f2;
   width: 100%;
   min-height: 100vh;
   overflow: scroll;
}

.classwrap {
   margin-top: 4rem;
   background-color: #ebf3f2;
}

.newswrap {
   padding: 2em 0;
}
.newscontainer {
   display: grid;
   grid-template-columns: 2fr 1.2fr;
   align-items: flex-start;
   column-gap: 1.5em;
   margin-top: 1.5em;
}
.newsmain {
   position: relative;
   height: 70vh;
   border-radius: 0.5em;
}

.newsmain img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   z-index: 0;
   border-radius: 0.5em;
}

.backgroundoverlay {
   position: absolute;
   inset: 0;
   border-radius: 0.5em;
   background-image: linear-gradient(0deg, #222, transparent);
   z-index: 20;
}

.newsmain-content {
   position: absolute;
   bottom: 0;
   padding: 1.5em;
   color: #fff;
}
.newsmain-content .flex-align2 {
   margin: 0.5em 0 1em;
}

.newsmain-content .fs-500 {
   width: 600px;
   overflow: hidden;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   text-overflow: ellipsis;
   white-space: nowrap;
   text-align: justify;
}

.newsothers {
   overflow-y: scroll;
   height: 100%;
   max-height: 70vh;
}

.newsothers::-webkit-scrollbar {
   width: 5px;
}

.newsothers::-webkit-scrollbar-thumb {
   background-image: var(--clr-neon-primary);
   border-radius: 25px;
}

.newsothers::-webkit-scrollbar-button {
   height: 5px;
}

.others__card {
   display: grid;
   grid-template-columns: 100px 1fr;
   column-gap: 1em;
   align-items: center;
   margin-bottom: 1em;
}

.others__card img {
   width: 100%;
   height: 100px;
   object-fit: cover;
   border-radius: 0.5em;
}

.others__card h1 {
   margin-bottom: 0.5em;
   cursor: pointer;
}
.others__card h1:hover {
   text-decoration: underline;
}

.newscontent {
   padding: 3em 0;
}

.newimgcontainer {
   width: 50%;
   float: left;
   margin: 0 1em 0 0;
}
.newimgcontainer img {
   width: 100%;
   object-fit: cover;
   border-radius: 0.5em;
}

.textwrap .flex-align2 {
   margin: 0.5em 0 1em;
}

.textwrap p {
   line-height: 1.6;
}

.newsothers {
   padding: 1em 0;
   clear: both;
}

.newsothers h1 {
   margin-bottom: 1em;
} */
